<!doctype html>
<!--[if lt IE 9]>
<html prefix="og: http://ogp.me/ns#" lang="en" class="no-js is-loading is-below-ie9">
<![endif]--><!--[if gte IE 9]><!-->
<html prefix="og: http://ogp.me/ns#" lang="en" class="no-js is-loading">
<!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">

	<title>HydroWeb</title>

	<!--
	  Javascript detection for styling
	  Inlined right at the top of the document to ensure that there is no delay in detection.
	  It sits above all other resources (in particular the stylesheet) to ensure no FOUC.
	  -->

	<script>(function(d){d.className=d.className.replace('no-js ','has-js ')}(document.documentElement))</script>

	<meta name="keywords" content="">
	<meta name="description" content="">

	<meta property="og:url" content="www.hydroweb.io">
	<meta property="og:title" content="HydroWeb">
	<meta property="og:type" content="website">

	<link rel="shortcut icon" href="favicon.ico">
	<link rel="stylesheet" href="styles/app.min.css">

	<!--
	  IE8 polyfills
	  - html5shiv: Enables support for HTML5 tags
	  - respond.js: Enables CSS media query support for responsive websites.
	  -->

	<!--[if lte IE 8]>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

	<!--
	  Adobe Typekit fonts
	  -->

	<script src="//use.typekit.net/zwd4fuw.js"></script>
	<script>try{Typekit.load();}catch(e){}</script>
</head>
<body ontouchstart>


<!--
  Header
  -->

<header id="header" class="is-overlaying">
	<h1 class="logo">
		<a href="#">
			<!--[if lte IE 8]>
			<img class="logo-symbol" src="images/logo.png" width="29" height="36">
			<![endif]--><!--[if gt IE 8]><!-->
			<img class="logo-symbol" src="images/logo.svg" width="29" height="36">
			<!--<![endif]-->
			<span class="logo-hydro">Hydro</span>
			<span class="logo-web">Web</span>
		</a>
	</h1>
	<nav class="nav">
		<ul>
			<li><a href="#">Examples</a></li>
			<li><a href="#">Documentation</a></li>
		</ul>
	</nav>
</header>


<!--
  Site
  Wrapping element for the side menu
  -->

<div id="site">

	<!--
	  Hero
	  Hide the content link for screen readers as it's unnecessary
	  -->

	<article id="hero">
		<div class="content">
			<h1 class="title">Thanks <%= user.firstName %></h1>
			<h2 class="tagline">We'll be in touch soon.</h2>
			<a class="button -context-dark -style-white" href="http://hydroweb.io">Return</a>
		</div>
	</article>


	<!--
	  Footer
	  -->

	<footer id="footer">

		<div class="container -width-10">
			<ul class="network columns -h-align-center -h-gap-us -v-gap-us">
				<li class="column -lg-2 -md-4 -sm-6">
					<a class="network-button" href="#">
						<span class="hydro">Hydro</span><!--
						--><span class="name">Web</span>
					</a>
				</li>
				<li class="column -lg-2 -md-4 -sm-6">
					<a class="network-button -style-blue is-selected" href="#">
						<span class="hydro">Hydro</span><!--
						--><span class="name">Framework</span>
					</a>
				</li>
				<li class="column -lg-2 -md-4 -sm-6">
					<a class="network-button -style-green" href="#">
						<span class="hydro">Hydro</span><!--
						--><span class="name">University</span>
					</a>
				</li>
				<li class="column -lg-2 -md-4 -sm-6">
					<a class="network-button -style-yellow" href="#">
						<span class="hydro">Hydro</span><!--
						--><span class="name">Templates</span>
					</a>
				</li>
				<li class="column -lg-2 -md-4 -sm-6">
					<a class="network-button -style-orange" href="#">
						<span class="hydro">Hydro</span><!--
						--><span class="name">Studios</span>
					</a>
				</li>
				<li class="column -lg-2 -md-4 -sm-6">
					<a class="network-button -style-red" href="#">
						<span class="hydro">Hydro</span><!--
						--><span class="name">Platform</span>
					</a>
				</li>
			</ul>
		</div>

		<div class="container">
			<hr class="-context-dark">

			<ul class="credits bar -h-gap-sm -h-align-justify -v-gap-sm">
				<li>
					<ul class="bar -h-gap-sm -v-gap-us">
						<li>&copy; 2015 Hydro Web Limited</li>
						<li>All Rights Reserved</li>
					</ul>
				</li>
				<li>
					<ul class="bar -h-gap-sm -v-gap-us">
						<li><a href="https://www.facebook.com/hydrowebsystems">Facebook</a></li>
						<li><a href="https://twitter.com/HydroWebNZ">Twitter</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</footer>

</div>


<!--
  Menu
  Place at the bottom to ensure screen readers read this last
  -->

<nav id="menu">
	<ul>
		<li class="column -lg-2 -md-4 -sm-6">
			<a class="network-button" href="#"><!--
				--><span class="name">Web</span>
			</a>
		</li>
		<br>
		<li class="column -lg-2 -md-4 -sm-6">
			<a class="network-button -style-blue is-selected" href="#"><!--
				--><span class="name">Framework</span>
			</a>
		</li>
		<br>
		<li class="column -lg-2 -md-4 -sm-6">
			<a class="network-button -style-green" href="#"><!--
				--><span class="name">University</span>
			</a>
		</li>
		<br>
		<li class="column -lg-2 -md-4 -sm-6">
			<a class="network-button -style-yellow" href="#"><!--
				--><span class="name">Templates</span>
			</a>
		</li>
		<br>
		<li class="column -lg-2 -md-4 -sm-6">
			<a class="network-button -style-orange" href="#"><!--
				--><span class="name">Studios</span>
			</a>
		</li>
		<br>
		<li class="column -lg-2 -md-4 -sm-6">
			<a class="network-button -style-red" href="#"><!--
				--><span class="name">Platform</span>
			</a>
		</li>
	</ul>

	<p class="u-text-center">
		<a class="button -style-yellow icon-emoji-happy -side-left" href="#">Call to action</a>
	</p>
</nav>


<!--
  Fixed
  Contains the button for opening the menu
  Hide the fixed bar for screen readers as it's unnecessary
  -->

<div id="fixed">
	<ul class="bar">
		<li class="u-hidden"><a class="button -style-yellow icon-emoji-happy -side-left" href="#">Call to action</a></li>
		<li><button id="menu-button" class="button -style-dark icon-menu -only-icon u-circle">Open menu</button></li>
	</ul>
</div>


<!--
  Scripts
  -->

<script src="scripts/libs/hydro.min.js"></script>
<script>Hydro.init(true)</script>

<!--[if lt IE 9]>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<![endif]--><!--[if gte IE 9]><!-->
<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>-->
<script src="scripts/libs/jquery.min.js"></script>
<!--<![endif]-->

<script src="scripts/app.min.js"></script>


</body>
</html>
